# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment directories
.venv/
venv/
env/

# Ignore data files (if applicable)
*.csv
*.hdf5
*.sqlite3

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore any specific files/directories for your project
#SANDS/
